<div class="container">
    <div class="header">
        <button class="toggle-btn" (click)="toggleFunction()">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <div class="search-box">
            <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
            <input type="text" class="search-box-input" placeholder="Search">
        </div>
        <div class="user-profile">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
    </div>

    <div class="content">
        <aside class="sidebar" id="sidebar" [class.collapsed]="isCollapsed">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link">
                        <fa-icon [icon]="faHome"></fa-icon>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/program" class="nav-link">
                        <fa-icon [icon]="faDumbbell"></fa-icon>
                        <span>Program</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/community" class="nav-link">
                        <fa-icon [icon]="faUsers"></fa-icon>
                        <span>Community</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/goals" class="nav-link">
                        <fa-icon [icon]="faBullseye"></fa-icon>
                        <span>Goals</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-link">
                        <fa-icon [icon]="faChartLine"></fa-icon>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/chatassistant" class="nav-link">
                        <fa-icon [icon]="faRobot"></fa-icon>
                        <span>Chat Assistant</span>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="main-content" id="main-content" [class.expanded]="isCollapsed">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>