<div class="container">
    <div class="login-card">
        <h2>Login</h2>
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password"  formControlName="password">
                <div class="error-message"
                *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']">
                Password is required
            </div>
            </div>
            <div class="role-selection">
                <label>Login as:</label>
                <div class="role-options">
                    <div class="role-option">
                        <input type="radio" id="admin" name="role" value="admin" required>
                        <label for="admin">Admin</label>
                    </div>
                    <div class="role-option">
                        <input type="radio" id="user" name="role" value="user" checked>
                        <label for="user" >User</label>
                    </div>
                    <div class="role-option">
                        <input type="radio" id="trainer" name="role" value="trainer">
                        <label for="trainer">Trainer</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
        </form>
        <div class="register-link">
            Don't have an account? <a routerLink="/register">Register here</a>
        </div>
    </div>
</div>